#환경설정
.env

#가상환경
venv/

#모델
*.model

#가중치
*.h5
*.ckpt
*.pth

#개발환경 설정 관련
.idea/
.vscode/

#로그, 캐시, 중간 결과
*.log
__pycache__/
/logs/
/results/

#데이터 파일
*.txt
*.csv
*.xlsx
/data/
filepath.py

#개인정보
*.pass
*.key

#기밀정보
*.token
*.secret